﻿<style>
    #map {
        height: 500px;
        width: 100%;
    }
</style>

<head>
    <script src="~/Scripts/jquery-3.4.1.js"></script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMkBU6QM6jEnGGBItURq2xXw-c_YUhuao&callback=initMap&libraries=places">
    </script>
</head>
<div class="jumbotron">

    <div class="row mb-2">
        <div class="col">
            <input class="form-control" id="search" type="text" placeholder="Search..." />
        </div>
        <input id="btnGetDir" type="button" value="Get Direction" />
    </div>
</div>
<div id="map"></div>

<!--Google Map API-->
<script>
    var infoWindow,
        map;
    //Initialize map
    function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer({
            suppressMarkers: true
        });

        // Location of HCMC
        var hcmc = { lat: 10.769493, lng: 106.652640 };
        map = new google.maps.Map(document.getElementById('map'),
            { zoom: 13, center: hcmc, disableDoubleClickZoom: true });

        directionsDisplay.setMap(map);

        // Search bar
        var input = document.getElementById('search');
        var searchBox = new google.maps.places.SearchBox(input);

        map.addListener('bounds_changed', function () {
            searchBox.setBounds(map.getBounds());
        });

        //    var marker = new google.maps.Marker({ position: hcmc, map: map });
        /*var newmarker = new google.maps.Marker({
            position: { lat: 10.769493, lng: 106.652640 },
            map: map,
            content: 'This here is BEN',
            animation: google.maps.Animation.DROP
        });
        newmarker.addListener('click', function () {
            var infowindow = new google.maps.InfoWindow({
                content: newmarker.content
            });
            infowindow.open(map, newmarker);
        });*/

        // Array of marker
        /*   var markers = [
               {
                   pos: { lat: 10.769493, lng: 106.652640 },
                   content: 'This here is BEN',
                   title: 'Trung tâm anh ngữ BEN',
                   animation: google.maps.Animation.DROP
               },

               {
                   pos: { lat: 10.805244, lng: 106.665500 },
                   content: 'This here is Công viên Hoàng Văn Thụ',
                   title: 'Công viên Hoàng Văn Thụ',
                   animation: google.maps.Animation.DROP
               },

               {
                   pos: { lat: 10.753291, lng: 106.661166 },
                   content: 'This here is Chùa bà Thiên Hậu',
                   title: 'Chùa bà Thiên Hậu',
                   animation: google.maps.Animation.DROP
               }
           ];

           // Loop through markers
           for (var i = 0; i < markers.length; i++) {
               addMarker(markers[i]);
           } */


        // Search box Listener
        searchBox.addListener('places_changed', function () {
            var places = searchBox.getPlaces();

            if (places.length == 0)
                return;

            //    markers.forEach(function (m) { m.setMap(null); });
            //    markers = [];

            var bounds = new google.maps.LatLngBounds();
            places.forEach(function (p) {
                if (!p.geometry)
                    return;

                /*markers.push(new google.maps.Marker({
                    map: map,
                    title: p.name,
                    position: p.geometry.location
                }));*/

                addMarker({
                    pos: p.geometry.location,
                    title: p.name
                });

                if (p.geometry.viewport)
                    bounds.union(p.geometry.viewport);
                else
                    bounds.extend(p.geometry.location);

                var result = p.geometry.location;
                markerLoc = new google.maps.LatLng({
                    lat: result.lat(),
                    lng: result.lng()
                });
            });

            map.fitBounds(bounds);

        });
        // Add marker on click
        google.maps.event.addListener(map, 'dblclick', function (event) {
            addMarker({ pos: event.latLng, content: 'You just clicked here' });
        });

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                addMarker({
                    pos: pos,
                    content: 'You are here',
                    title: 'Your position',
                    animation: google.maps.Animation.BOUNCE
                });

                /*   var onChangeHandler = function () {
                       calculateAndDisplayRoute(directionsService, directionsDisplay);
                   };
                   document.getElementById('search').addEventListener('change', onChangeHandler);
                   */

                var onClickListener = function () {
                    calculateAndDisplayRoute(directionsService, directionsDisplay)
                };
                document.getElementById('btnGetDir').addEventListener('click', onClickListener);

                // Direction Routing
                function calculateAndDisplayRoute(directionsService, directionsDisplay) {
                    directionsService.route({
                        origin: pos,
                        destination: markerLoc,
                        travelMode: 'DRIVING'
                    }, function (response, status) {
                        if (status === 'OK') {
                            directionsDisplay.setDirections(response);
                        } else {
                            window.alert('Directions request failed due to ' + status);
                        }
                    });
                }
                /*marker = new google.maps.Marker({
                    position: pos,
                    map: map,
                    title: 'Your position',
                    draggable: true,
                    animation: google.maps.Animation.BOUNCE
                });
                marker.addListener('click', function () {
                    infoWindow.open(map, marker);
                });*/

                map.setCenter(pos);
            }, function () {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }


    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
            'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
    }

    // Add marker function
    function addMarker(props) {
        var marker = new google.maps.Marker({
            position: props.pos,
            map: map
        });

        // Check if marker has any content
        if (props.content) {
            var infoWindow = new google.maps.InfoWindow({
                content: props.content
            });
            // Add listener for marker
            marker.addListener('click', function () {
                infoWindow.open(map, marker)
            });
        }

        // Check if marker has any title
        if (props.title) {
            marker.setTitle(props.title);
        }

        // Check if marker has any animation
        if (props.animation) {
            marker.setAnimation(props.animation);
        }
    }


</script>

